<button type="submit" (click)="newCase()"
        class="btn btn-primary"
        >New Case</button> 
<br>
<button type="submit" (click)="casesList()"
        class="btn btn-warning"
        >Cases List</button>
<br>
<button type="submit" (click)="assigneCase()"
        class="btn btn-success"
        >Assigne Case</button>
<br>
<button type="submit" (click)="myCases()"
        class="btn btn-secondary"
        >My Cases</button>
<br>
<button type="submit" (click)="logout()"
        class="btn btn-danger"
        >Logout</button>